body {
    margin: 0;
    padding: 0;
}
.film {
    outline: 1px solid red;
    width: 320px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    align-items: center;
    @media screen and (min-width: 768px) {
       width: 768px;
        margin: 0;
        padding: 0;
        align-items: center;
        padding-left: 76px;
        padding-right: 76px; 
    }
    @media screen and (min-width: 1024px) {
        width: 1024px;
        margin: 0;
        padding: 0;
        align-items: center;
        padding-left: 71px;
        padding-right: 71px; 
    }
    
   
}

.film-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    grid-gap: 20px;
    padding: 20px;
    margin: 0;
    list-style: none;
    
    @media screen and (min-width: 768px) {
        display: grid; 
        grid-template-columns: repeat(2, 1fr) ;
        grid-gap: 30px;
        padding: 0;
        padding-top: 60px;
        margin: 0;
    }
    
    @media screen and (min-width: 1024px) {
        display: grid; 
        grid-template-columns: repeat(3, 1fr) ;
        grid-gap: 30px;
        padding: 0;
        padding-top: 60px;
        margin: 0;
    }
    


}
.film-item {
 display: block;
    @media screen and (min-width: 768px) {
        
    }
}
.film-img  {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 10px; 
    @media screen and (min-width: 768px) {
    
    }
}


.film-info {
   
margin: 0;
padding: 0;
@media screen and (min-width: 768px) {
width: 280px;
}
}
.film-name {
    
font-family: Roboto;
font-weight: 500;
font-size: 12px;
line-height: 14px;
text-transform: uppercase;
color: #000000;
margin: 0; 
@media screen and (min-width: 768px) {
   
}
}

.film-genre {
  
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #FF6B08;
margin: 0;
@media screen and (min-width: 768px) {
    
}
}
.rating {
    display: block;
    width: 36px;
    height: 16px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #FF6B08;
    color: #ffffff;
}
